@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif;
}

/* Formatações gerais */
:root{
    --fundo: #F2EDEA;
    --color-primary: #D74183;
    --color-secundary: #3f3d3d;
}

a{
    text-decoration: none;
    color: #000;
}

.contact{
    color: #fff;
    background: var(--color-primary);
    padding: 7px 15px;
    font-size: 0.9em;
    border: 1px solid var(--color-secundary-);
}



/* Parte superior do site, cabeçalho (header) */
header{
    background: var(--fundo);
    position: relative;
    border-bottom: 5px solid var(--fundo);
    height: 100%;
}

.header-content{
    margin: 0 50px;
    padding-top: 10px;
}

.header-content .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.header-content .logo{
    width: 150px;
    text-transform: uppercase;
    line-height: 15px;
    text-align: center;
}
.header-content .logo h2{
    font-size: 1.3em;
    font-weight: bolder;
    letter-spacing: -1px;
}
.header-content .logo p{
    font-size: 0.6em;
    letter-spacing: 1px;
}

.header-content .navegation{
    text-transform: uppercase;
    font-size: 0.9em;
}

.header-content .navegation a{
    margin-left: 20px;
}

.header-content .content .texts{
    width: 400px;
    transition: 0.5s;
}
.header-content .content .texts h2{
    font-size: 3.5em;
    line-height: 50px;
}
.header-content .content .texts p{
    color: #3f3d3d;
    margin: 15px 0;
}
.header-content .content .texts a{
    margin-top: 20px;
    display: block;
    width: 35%;
    text-align: center;
}

.header-content .content .image img{
    width: 400px;
}


/* Menu hambúrguer */
.menu-lines{
    width: 30px;
    height: 35px;
    align-items: center;
    display: none;
    cursor: pointer;
}
.menu-lines span{
    width: 30px;
    height: 2px;
    background: #000;
    display: block;
    margin-bottom: 6px;
    transform-origin: center;
    transition: all .2s;
}


/* Menu hambúrguer segundo formato */
.menu-lines.ativar{
    margin-top: 5px;
}
.menu-lines.ativar span:nth-child(1){
    transform: translateY(3px) rotate(45deg);
}
.menu-lines.ativar span:nth-child(2){
    opacity: 0;
}
.menu-lines.ativar span:nth-child(3){
    transform: translateY(-12.5px) rotate(-45deg);
}


/* Conteúdos principais (Main) */
main{
    margin: 50px;
}

/* Cards */
.cards{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    transition: 0.5s;
}
.cards .card{
    width: 300px;
    text-align: center;
}

.cards .card img{
    width: 80px;
}
.cards .card:nth-child(2) img{
    margin-left: 50px;
    width: 100px;
}
.cards .card h2{
    margin: 10px 0;
    font-size: 4.1vmin;
}
.cards .card p{
    font-size: 2.7vmin;
    margin: 10px 0;
    line-height: 24px;
    color: var(--color-secundary);
}
.findout{
    font-size: 2.3vmin;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1.3px solid #000;
}


/* Primeiro conteúdo */
.font{
    font-size: 6vmin;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}
.main__content .col{
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}

.main__content .col img{
    width: 350px;
}

.main__content .col .text{
    width: 45%;
}
.main__content .col .text span{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7em;
    display: block;
}
.main__content .col .text h2{
    font-size: 6vmin;
    font-family: 'Poppins', sans-serif;
    margin: 20px 0;
}
.main__content .col .text p{
    font-size: 2.7vmin;
    margin-bottom: 20px;
    line-height: 24px;
    color: var(--color-secundary);
}
.main__content .col .text ul{
    font-size: 2.7vmin;
    color: var(--color-secundary);
    margin-left: 20px;
}
.main__content .col .text ul li{
    margin-bottom: 10px;
}

/* Segundo conteúdo (serviços) */
.col__services{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services{
    display: none;
    justify-content: center;
    width: 100%;
    line-height: 30px;
    text-transform: uppercase;
    transition: 0.5s;
}
.services span{
    border-bottom: 2px solid #000;
    font-size: 6vmin;
    font-family: 'Poppins', sans-serif;
}

.col__services .text__service{
    font-size: 3vmin;
    transition: 0.5s;
}

.col__services .col_1{
    width: 45%;
}
.col__serices .col_2{
    width: 50%;
}
.col__services img{
    width: 250px;
    margin-left: -320px;
}

.col__services h3{
    margin-top: 10px;
} 
.col__services span.titulo{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7em;
    display: block;
}
.col__services span{
    color: var(--color-secundary);
}

/* Rodapé (footer) */
footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: var(--color-secundary);
    background: var(--fundo);
    padding: 3px;
}

.footer__text{
    width: 50%;
    text-align: center;
    font-size: 3vmin;
}
.footer__text h2{
    font-size: 9vmin;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 990px){
    .cards .card p{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    .col__services .text__service{
        font-size: 90%;
    }
}

@media screen and (max-width: 850px){
    .header-content .content .texts a{
        width: 40%;
    }
}

@media screen and (max-width: 790px){
    .main__content .col__services .col_1,
    .main__content .col__services .col_2{
        display: none;
    }

    .main__content .col__services{
        flex-direction: column;
        font-size: 3vmin;
    }
    .services{
        display: flex;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 780px){
    .header-content .content.text-and-image{
        display: flex;
        flex-direction: column;
        margin: 50px auto;
    }
    .header-content .content.text-and-image .texts{
        margin: 50px 0;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto;
    }
    .cards .card{
        margin: 30px 0;
        text-align: center;
    }
    .cards .card p{
        text-align: center;
        width: 100%;
        font-size: 2.5vmax;
    }

    .header-content .content .texts{
        text-align: center;
    }

    .header-content .content .texts a{
        width: 35%;
        margin: 0 auto;
    }

    .main__content .col{
        flex-direction: column;
    }
    .main__content .col .text{
        width: 90%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
    }
    .main__content .col .text ul{
        width: 100%;
        text-align: left;
    }

}


@media screen and (max-width: 730px){
    .menu-lines{
        display: block;
        margin-top: 5px;
    }

    .header-content .navegation{
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100vw;
        flex-direction: column;
        align-items: center;
        background: var(--fundo);
        margin-left: 1000px;
        transition: 0.5s;
    }
    .header-content.ativar .navegation{
        margin-left: 0;
    }

    .header-content .navegation a{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 460px){
    .content.text-and-image .texts{
        width: 100%;
    }
    .content.text-and-image .texts h2{
        font-size: 3em;
    }
    .content.text-and-image .texts a{
        width: 40%;
    }
    .content.text-and-image .image img{
        width: 100%;
        margin: 0 auto;
    }
    .main__content .col .image{
        margin: 0 auto;
    }
    .main__content .col .image img{
        width: 100%;
    }
}

@media screen and (max-width: 420px){
    .content.text-and-image .texts a{
        width: 50%;
    }
    .main__content .col .text p,
    .main__content .col .text ul{
        font-size: 1em;
    }
    .findout{
        font-size: 0.9em;
    }
    .col__services .text__service{
        font-size: 1em;
    }
}


/* iphone 5 < */
@media screen and (max-width: 320px){
    .content.text-and-image .texts a{
        width: 70%;
        font-size: 1em;
    }

    .cards .card h2{
        font-size: 1.1em;
    }
    .cards .card p{
        font-size: 1.1em;
    }

    .col__services .text__service{
        font-size: 1.4em;
    }
    .col__services .text__service h3{
        margin-top: 20px;
    }
    .services span{
        font-size: 2em;
    }
}